#### Step 1: Importing Required Libraries

In [2]:
import pandas as pd
import numpy as np
import plotly.graph_objs as go
import plotly.graph_objects as go
from plotly.subplots import make_subplots

#### Step 2: Load and display the dataset

In [3]:

# Here i'm using Excel data becuase CSV data have some issues when i'm import the data.
# So that i converted data into Excel.


df = pd.read_excel('DataHistoSP.xlsx', index_col='Time')

In [4]:
# This function displays the first 5 rows of the DataFrame 'df'. 

df.head()

                     Open     High      Low    Close
Time
2021.01.02 23:00  3733.00  3733.00  3733.00  3733.00
2021.01.03 19:00  3733.00  3733.00  3733.00  3733.00
2021.01.03 22:00  3733.00  3734.00  3733.00  3733.00
2021.01.03 23:00  3733.00  3739.75  3726.75  3733.25
2021.01.04 00:00  3733.25  3733.50  3722.50  3724.75

#### Step 3: Checking the dataset having missing values

In [5]:


missing_values = df.isnull().sum()
print(missing_values)

Open     0
High     0
Low      0
Close    0
dtype: int64

#### Step 4: Drop weekends

In [6]:
# (Saturday's and Sunday's) beacause the market is off on these days

df = df[pd.DatetimeIndex(df.index).dayofweek < 5]